<div class="menu-bar">
    {{ fa-icon (concat 'angle-double-' (if hidden 'left' 'right'))
        class="clickable"
        click=(action 'toggleVisibility')
        title=(t 'Toggle menu')
    }}
    {{#unless hidden }}
        <span>{{ t 'Preview' }}</span>
        {{ fa-icon 'desktop'
            class="clickable"
            click=(action 'toggleFullscreen')
            title=(t 'Toggle full width preview')
        }}
    {{/unless}}
</div>
{{#unless hidden }}
    <div class="content">
        <iframe sandbox srcdoc={{{ renderedContent }}}>
        </iframe>
    </div>
{{/unless}}
