@import "ember-bootstrap/bootstrap";

@import "components/project-tree";
@import "components/preview-area";
@import "components/template-editor";
@import "components/asset-entry";
@import "components/asset-manager";

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.clickable {
    cursor: pointer;
    color: $primary;
    text-shadow: 1px 1px $gray-500;
    &:hover {
        text-shadow: 2px 2px $gray-500;
        transform: scale(1.1);
    }
    &:active {
        text-shadow: 1px 1px $gray-500;
        transform: scale(1);
    }
}

.route-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.content {
    flex: 1;

    & > form {
        padding: 20px;
    }

    & > p {
        padding: 20px;
        display: flex;
        justify-content: center;
    }
}
