@import "ember-bootstrap/bootstrap";

@import "components/project-tree";
@import "components/preview-area";

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.clickable {
    color: $primary;
    text-shadow: 1px 1px $gray-500;
    &:hover {
        text-shadow: 2px 2px $gray-500;
        transform: scale(1.1);
    }
    &:active {
        text-shadow: 1px 1px $gray-500;
        transform: scale(1);
    }
}
